<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activate</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user_activation}">
</head>
<body>
<form action="/users/registration/activate" method="post">
    <fieldset>
        <legend>Activation: </legend>
        <label for="activationCode" class="activation-label">Activation Code:</label><br>
        <input type="text" id="activationCode" name="activationCode"><br>
        <input type="submit" value="Activate" class="activate-button">
    </fieldset>
</form>
</body>
</html>